<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    
    <nav class="my-2 my-md-0 mr-md-3">
    <app-header></app-header>
    <div class="logo"  >
     
    
      <img src="../../assets/Logo.png" width="40%" height="50">
    <a class="p-2 text-dark" [routerLink]="['/shop']"><b>Shop</b></a>
    <a class="p-2 text-dark" [routerLink]="['/About Us']"><b>About Us</b></a>
    </div>
    </nav>
    <a class="btn btn-outline-primary" [routerLink]="['/registration']">Sign Up</a>
    <a class="ml-2 btn btn-outline-secondary" [routerLink]="['/login']">Login</a>
  </div>
